/* Color used:

Header and Buttons background: #007cbe
Header and Button text: #fff
Button Hover: #2b2b2b
Link color: #0072ee


*/

:root {
  --primary-color: #007cbe;
  --secondary-color: #fff;
  --dark-grey: #2b2b2b;
}

body {
  font-family: 'Fredoka', sans-serif;
  margin: 0 auto;
  line-height: 1.6;
  color: var(--dark-grey);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 135px;
}

nav {
  background-color: var(--secondary-color);
}

#pokedex-logo {
  width: 300px;
}

#image-wrapper2 {
  padding: 10px;
}

#pokedex-device {
  width: 100px;
}

#image-wrapper1 {
  padding: 10px;
}

h1 {
  font-size: 26px;
}

/* Styling for Pokemon buttons */
.pokemon-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 16px 24px;
  width: 150px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  border-radius: 15px;
  border-bottom: 2px solid var(--dark-grey);
  box-shadow: 2px 2px var(--dark-grey);
}

.pokemon-button:hover,
.pokemon-button:focus {
  cursor: pointer;
  background-color: var(--dark-grey);
}

#pokemon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px 75px;
}

/* Styling for modal */
.modal-dialog {
  border-radius: 10px;
}

.modal-title {
  font-size: 30px;
}

.modal-text {
  font-size: 18px;
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
}

.modal-image {
  width: 200px;
}

/* Styling for navigation links */
#nav-links {
  padding-top: 20px;
}

#nav-links__item {
  color: #0072ee;
  font-size: 18px;
}

/* Media queries to reduce button columns on smaller devices */
@media all and (max-width: 992px) {
  #pokemon-list {
    grid-template-columns: auto auto auto;
  }

  main {
    padding-top: 150px;
  }
}

@media all and (max-width: 768px) {
  #pokemon-list {
    grid-template-columns: auto auto;
  }

  header {
    flex-wrap: wrap;
  }

  main {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-container {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0;
  }

  h1,
  p {
    text-align: center;
  }
}

@media all and (max-width: 400px) {
  #pokemon-list {
    grid-template-columns: auto;
  }
}
