/* Color used:

background color: #f9ffa6
pokedex logo color: #28aafd

*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #f9ffa6;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}

#pokedex-logo {
  width: 100px;
  height: 80px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#pokedex-logo-text {
  padding: 20px;
}

@media all and (max-width: 600px) {
  body {
    padding: 20px;
  }
}

.pokemon-button {
  background-color: #007cbe;
  color: #fff;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}
