/* Color used:

background color: #f9ffa6
pokedex text color: #28aafd

*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #f9ffa6;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}

#pokedex-logo {
  width: 10%;
}

header {
  display: inline-block;
  padding: 20px;
}

#pokedex-logo-text {
  padding: 20px;
}
